.about-header{
    margin:0px;
    color: #7582a8;
}
.head-shot{
    width: 294px;
}
.about-page-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 75px 0px 75px;
 
}

.description-container{
    padding: 5px;
    text-align: left;
    padding: 0px 17px 0px 17px;
}

.profile-img-container{
    padding: 5px;
    padding: 0px 17px 0px 17px;
}

.description-bio{
    border-left: 1px solid black;
    padding-left: 15px;
    margin:0px;
    line-height: 30px;
}